
<nav class="navbar navbar-expand-lg  " [class]="Bscroll ?'py-4' : 'py-3'">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="/HOME">START FRAMEWORK </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
          
          
          <li class="nav-item">
            <a class="nav-link mx-3 text-white " routerLinkActive=" lii rounded-3   " routerLink="/ABOUT">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3 text-white"   routerLinkActive=" lii rounded-3   " routerLink="/PORTFOLIO">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3 text-white" routerLinkActive=" lii rounded-3   " routerLink="/CONTACT">CONTACT</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>