<div class="hero  d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row text-center mt-5 ">

            <div class="text-center ">
                <img src="images/avataaars.svg" class="mean img-fluid " alt="mean">
            </div>

            <div class="frream text-white">
                <h2>START FRAMEWORK</h2>
            </div>

            <div class="linee text-white  position-relative">
                <i class="fa-solid fa-star"></i>
            </div>

            <div class="web text-white">
                <p>Graphic Artist - Web Designer - Illustrator</p>
            </div>

        </div>
    </div>
</div>
